/* General style rules */
html, body {
    background-color: #DFFFDE;
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

p, button, a {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, p {
    color: #012B3A;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

    /* Add background colors per section */
#features, #authority, #cta-2 {
    background-color: white;
}

#testimonial, #footer {
    background-color: #012B3A;
}

    /* Change container's displays to flex */
section, nav {
    display: flex;
    padding: 20px 13.5vw;
    justify-content: space-between;
    align-items: center;
}
.flex-row {
    display: flex;
}
.flex-col {
    flex-direction: column;
}

    /* Button Styles */
button {
    color: white;
    background-color: #012B3A;
    border: 1px solid #012B3A;
    font-weight: 700;
    font-size: 16px;
    padding: 13px 12px;
}
button:hover {    
    background-color: #004963;
    border: 1px solid #004963;
}

/* Hero Section */
.hero-content {
    flex: auto;
}
section#hero {
    gap: 15%;
}
.hero-content > h1 {
    margin-top: -40px;
    margin-bottom: 50px;
}
.hero-content > p {
    margin-bottom: 30px;
}

/* Value Proposition Section */
#value-prop {
    padding: 0px; /* Negate padding */
    align-items: stretch;
}
.value-prop-content {
    width: 50vw;
    padding: 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.left.value-prop-content {
    background-color: #007978;
    gap: 4px;
}
.left.value-prop-content > h2 {
    padding-left: 13.5vw;
    margin: 0px;
    color: white;
}
.right.value-prop-content {
    background-color: #004963;
    gap: 30px;
}
.value-prop-content > img {
    max-width: 280px;
    margin-left: 15%;
} 

/* Features Section */
#features {
    align-items: stretch;
}
#features > h2 {
    text-align: center;
}
.feature-container > h3 {
    text-align: center;
    margin-bottom: 40px;
}
.feature-container-2 {
    justify-content: space-around;
    gap: 5%;
}
.feature-card {
    display: flex;
    flex-direction: column;                    
    max-width: 350px;
    align-items: stretch;
}
.feature-card .image-wrapper {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.image-wrapper > img {
    max-height: 100%;
    max-width: 100%;
}
.three-card .reduced-image{
    max-width: 80%;
}
.three-card .feature-card {
    flex: 1 1 33.33%;;
}
.feature-card > h3 {
    margin-bottom: 5px;
}

/* Testimonial Section */
#testimonial {
    align-items: flex-start;
    gap: 20px;
}
#testimonial h2{
    margin-top: 0px;
    color: #DFFFDE;
    width: 90%;
}
#testimonial .author-name {
    color: #FF4C46;
    font-weight: 800;
}
#testimonial .occupation {
    color: #DFFFDE;
    font-size: 14px;
}

/* Pricing Section */
#pricing {
    align-items: stretch;
}
.pricing-container {
    justify-content: space-around;
    gap: 4%;
}
.pricing-card {
    background-color: #004963;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 33.33%;
}
.font-18px {
    font-size: 18px;
}
#pricing p {
    color: #DFFFDE;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
}
#pricing .cancel-link {
    font-size: 11px;
    color: #00A68A;
    margin-top: 15px;
}
.pricing-card a {
    color: #87F8AE;
    font-size: 14px;
}
.pricing-card > .content-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.content-block.one {
    min-height: 15%;
}
.content-block.two {
    gap: 10px;
    min-height: 21%;
}
.content-block.two button {
    background-color: #87F8AE;
    border: 0px;
}
.content-block.four {
    margin-bottom: 0px;
    flex-grow: 1;
}
.content-block > button {
    color: #004963;
}
.content-block > button:hover {
    background-color: #DFFFDE;
}
.price {
    font-size: 28px;
}
.no-price {
    font-size: 24px;
}
.content-block sup {
    font-size: 18px;
    font-weight: 300;
}
.content-block.four p {
    font-size: 13px;
}
