/* Apply general style rules */
html, body {
    background-color: #DFFFDE;
    font-family: 'Montserrat Alternates', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}

/* Add background colors per section */
#features, #authority, #cta-2 {
    background-color: white;
}

#testimonial, #footer {
    background-color: #004963;
}

/* Change container's displays to flex */
section {
    display: flex;
}


